@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pvggsc');
  src:  url('../fonts/icomoon.eot?pvggsc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pvggsc') format('truetype'),
    url('../fonts/icomoon.woff?pvggsc') format('woff'),
    url('../fonts/icomoon.svg?pvggsc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-pinterest:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-facebook-tith:before {
  content: "\e904";
}
